
<div class="container row">
    <label class='col-xs-2 col-sm-2 text-right'>{{ _("用户ID：") }}</label>
    {{ userform.roleid(size=16, maxlength=32, placeholder=_('用户ID'), id='roleid', class="col-xs-2 col-sm-2") }}
    {% for error in userform.errors.roleid %}
        <span class="help-inline col-xs-1 col-sm-1">[{{error}}]</span><br>
    {% endfor %}
    <label class='col-xs-2 col-sm-2 text-right'>{{ _("昵称：") }}</label>
    {{ userform.name(size=16, maxlength=32, placeholder=_('角色名'), id='name', class="col-xs-2 col-sm-2") }}
    {% for error in userform.errors.name %}
        <span class="help-inline col-xs-1 col-sm-1">[{{error}}]</span><br>
    {% endfor %}
    <label class='col-xs-2 col-sm-2'></label>
    {{ userform.submit(class=" btn btn-primary", id="edit_btn", value=_('查询')) }}
</div>

