<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.pjax.js"></script>
    <script src="/static/js/application.js"></script>

    {% if title %}
    <title>{{title}}</title>
    {% endif %}

    <link href="/static/sloth.css" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="navbar navbar-duomi navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <h5 style="text-align:center" class="navbar-brand" id="logo">{{_("简易查询系统")}}</h5>
{#                <a class="navbar-brand" href="#" id="logo">{{_("简易查询系统")}} </a>#}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-2">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">

                    {% for idx, menus in menu_list.items() %}
                        {% if menus|length > 1 %}
                            <li>
                                <a href="{{ '#%s'|format(menus[0].endpoint|replace('.','_')) }}" class="nav-header collapsed" data-toggle="collapse">
                                    <i class="{{ 'glyphicon %s'|format(menus[0].icon) }}"></i>
                                    {{ menus[0].title }}
                                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul id="{{ menus[0].endpoint|replace('.','_') }}" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                    {% for row, menu in menus.items()[1:] %}
                                        <li>
                                            <a href="{{ url_for(menu.endpoint) }}" data-pjax="#main">
                                                <i class="{{ 'glyphicon %s'|format(menu.icon) }}"></i>
                                                {{ menu.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for(menus[0].endpoint) }}" data-pjax="#main">
                                    <i class="{{ 'glyphicon %s'|format(menus[0].icon) }}"></i>
                                    {{ menus[0].title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div id="main">
                    {% include template %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>
